<configuration>
    <appender name="STDOUT_SIMPLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT_LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <if condition='property("logging.simple").equalsIgnoreCase("true")'>
        <then>
            <root level="info">
                <appender-ref ref="STDOUT_SIMPLE" />
            </root>
        </then>
        <else>
            <root level="info">
                <appender-ref ref="STDOUT_LOGSTASH" />
            </root>
        </else>
    </if>
</configuration>